atomicwrites==1.4.0
attrs==21.4.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
codecov==2.1.12
colorama==0.4.4
coverage==6.4
distlib==0.3.4
filelock==3.7.0
idna==3.3
more-itertools==8.13.0
packaging==21.3
platformdirs==2.5.2
pluggy==0.13.1
poetry-core==1.0.8
py==1.11.0
pyparsing==3.0.9
pytest==5.4.3
pytest-cov==3.0.0
pytest-repeat==0.9.1
pytest-subtests==0.3.2
requests==2.27.1
six==1.16.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.0
tox==3.25.0
tox-poetry-dev-dependencies==0.0.5
urllib3==1.26.9
virtualenv==20.14.1
wcwidth==0.2.5
xxhash==3.0.0
